<?xml version="1.0" encoding="utf-8"?>
<!-- 
 * This file is part of Hash It!.
 * 
 * Copyright (C) 2009-2011 Thilo-Alexander Ginkel.
 * Copyright (C) 2011-2014 TG Byte Software GmbH.
 * 
 * Hash It! is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Hash It! is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Hash It!.  If not, see <http://www.gnu.org/licenses/>.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ginkel.hashit" android:versionCode="25"
          android:versionName="1.7.2" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="16"/>
    <supports-screens android:smallScreens="true"
                      android:normalScreens="true" android:largeScreens="true"
                      android:anyDensity="true"/>
    <application android:icon="@drawable/icon" android:label="@string/AppName"
                 android:name=".HashItApplication" android:allowClearUserData="true"
                 android:allowBackup="true" android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".TabbedMainActivity" android:label="@string/AppName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- browser integration -->
            <intent-filter android:label="@string/AppName">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name=".PasswordActivity" android:label="@string/AppName">
        </activity>
        <activity android:name=".SettingsActivity" android:label="@string/Title_Settings">
        </activity>
        <activity android:name=".ParametersActivity" android:label="@string/Title_Parameters">
        </activity>
        <service android:name=".util.cache.MemoryCacheServiceImpl"
                 android:label="Hash It! Master Key Cache" android:icon="@drawable/icon"
                 android:exported="false"/>
    </application>
</manifest>
